@charset "utf-8";

body{
	background-color: violet;
	text-align: center;
}
header{
	background-color: white;
}


/*Table styles*/

table{
	width: 50%;
	margin-left: 28%;
	font-family: serif;
	border: double black 3px;
}
thead > tr > td.tabletit{
	background-color: white;
}



td:first-of-type{
	background-color: rgb(0,91,171);
	font-size: 2em;
}
td:nth-of-type(2){
	background-color: rgb(0,140,153);
	font-size: 2em;
}
td:nth-of-type(3){
	background-color: rgb(0,0,251);
	font-size: 2em;
}
td:nth-of-type(4){
	background-color: rgb(7,160,184);
	font-size: 2em;
}



#reds > td{
	background-color: rgb(138,42,43);
}
#reds td:nth-of-type(2){
	background-color: rgb(209,18,66);
}
#reds td:nth-of-type(3){
	background-color: rgb(201,22,23);
}
#reds td:nth-of-type(4){
	background-color: rgb(184,67,54);
}



#greens > td{
	background-color: rgb(0,102,0);
}
#greens td:nth-of-type(2){
	background-color: rgb(68,105,61);
}
#greens td:nth-of-type(3){
	background-color: rgb(75,87,61);
}
#greens td:nth-of-type(4){
	background-color: rgb(20,131,60);
}

/* Form Styles */
/*M7LO11 Demonstrate how to format a 
form with CSS (group your form styles 
together in your CSS file, and document 
their overall impact on the form) the 
overall impact is rather minimal, 
however it does give a more legitamate
feel to the site.*/
form{
	border: dashed purple 1.5em;
	background-color: rgba(51, 255, 0, 1);
	font-size: 1.5em;
	margin-top: 15%;
	box-shadow: black 10px -10px 20px;
}

/*Audio Styles*/
/* M8LO12 Demonstrate how to format media 
with CSS (CSS, group your media styles 
together and describe their overall impact 
on the media feature of your page) More 
than anything this modification to the 
audio element makes it look like it 
belongs on the page and not just thrown 
in*/
audio{
	margin-top: 10%;
	border-bottom: solid black 1em;
	border-top: solid black 1em;
	box-shadow: black -10px 10px 20px;

}

/* Animation */
/* M8LO10 Demonstrate a CSS animation or 
transition (CSS, identify which is being 
done and its impact on the rendered HTML; 
note it has to include a time aspect, 
not be immediate) The effect of this 
addition makes the page seem kind of 
flashy, and the changing color gives me
a head ache lol.*/
html{
	animation-name: cchange;
	animation-duration: 6s;
}
@keyframes cchange{
	from {background-color: green;}
	to {background-color: blue;}
}